.container {
    height: 100vh;
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Rewriting default styles for the table */
.my-table {
    border-radius: 10px;

    .table-data-row:not(:last-child) {
        border-bottom: 1px solid gold;
    }
}
